In [1]:
import pandas as pd
data = pd.read_csv("./train.csv")
data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [5]:
test_data = pd.read_csv("./test.csv")
test_data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [4]:
data.shape

(1460, 81)

In [31]:
data.isnull().sum()

Id                    0
MSSubClass            0
MSZoning              0
LotFrontage           0
LotArea               0
                     ..
SaleCondition         0
MasVnrType_BrkFace    0
MasVnrType_Stone      0
MasVnrType_nan        0
SalePrice             0
Length: 82, dtype: int64

In the PoolQC I have 1453 missing points from 1460 so i decided to remove this feature

In [6]:
data = data.drop('PoolQC', axis=1)
test_data = test_data.drop('PoolQC', axis=1)
test_data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,3SsnPorch,ScreenPorch,PoolArea,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,0,120,0,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,0,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,0,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,0,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,0,144,0,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,0,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,0,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,0,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,0,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,0,NaN,NaN,0,11,2006,WD,Normal

here we will deal with alley (1369 missing points)

In [12]:
import numpy as np
data['Alley'] = data['Alley'].fillna('nan')
test_data['Alley'] = data['Alley'].fillna('nan')
np.unique(data["Alley"].values)

array(['Grvl', 'Pave', 'nan'], dtype=object)

In [13]:
Alley_mapping = {"nan": 0, "Grvl": 1, "Pave": 2}
data["Alley"] = data["Alley"].map(Alley_mapping)
test_data["Alley"] = test_data["Alley"].map(Alley_mapping)
np.unique(test_data["Alley"])

array([0, 1, 2], dtype=int64)

dealing with LotFrontage : i decided to assign 0 to the missing points (~250 missing points)

In [15]:
data['LotFrontage'] = data['LotFrontage'].fillna(0)
test_data["LotFrontage"] = test_data['LotFrontage'].fillna(0)

dealing with MasVnrArea and MasVnrType we have 8, 872 missed points respectively

In [18]:
data[data["MasVnrArea"].isna()]["MasVnrType"]

234     NaN
529     NaN
650     NaN
936     NaN
973     NaN
977     NaN
1243    NaN
1278    NaN
Name: MasVnrType, dtype: object

In [19]:
# the missing points in MasVnrArea are None in MasVnrType so we will substitute them with 0
data['MasVnrArea'] = data['MasVnrArea'].fillna(0)
test_data["MasVnrArea"] = test_data['MasVnrArea'].fillna(0)

In [20]:
# for MasVnrType -> one-hot encoding
data['MasVnrType'] = data['MasVnrType'].fillna('nan')
test_data['MasVnrType'] = data['MasVnrType'].fillna('nan')

In [30]:
df_encoded = pd.get_dummies(data, columns=['MasVnrType'], drop_first=True)
sale = df_encoded['SalePrice']
df_encoded = df_encoded.drop('SalePrice', axis=1)
df_encoded.insert(len(df_encoded.columns), "SalePrice", sale)
data = df_encoded
test_data = pd.get_dummies(test_data, columns=['MasVnrType'], drop_first=True)
test_data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,MasVnrType_BrkFace,MasVnrType_Stone,MasVnrType_nan
0,1461,20,RH,80.0,11622,Pave,0,Reg,Lvl,AllPub,...,MnPrv,NaN,0,6,2010,WD,Normal,True,False,False
1,1462,20,RL,81.0,14267,Pave,0,IR1,Lvl,AllPub,...,NaN,Gar2,12500,6,2010,WD,Normal,False,False,True
2,1463,60,RL,74.0,13830,Pave,0,IR1,Lvl,AllPub,...,MnPrv,NaN,0,3,2010,WD,Normal,True,False,False
3,1464,60,RL,78.0,9978,Pave,0,IR1,Lvl,AllPub,...,NaN,NaN,0,6,2010,WD,Normal,False,False,True
4,1465,120,RL,43.0,5005,Pave,0,IR1,HLS,AllPub,...,NaN,NaN,0,1,2010,WD,Normal,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,2,Reg,Lvl,AllPub,...,NaN,NaN,0,6,2006,WD,Normal,False,False,True
1455,2916,160,RM,21.0,1894,Pave,0,Reg,Lvl,AllPub,...,NaN,NaN,0,4,2006,WD,Abnorml,False,False,True
1456,2917,20,RL,160.0,20000,Pave,0,Reg,Lvl,AllPub,...,NaN,NaN,0,9,2006,WD,Abnorml,False,True,False
1457,2918,85,RL,62.0,10441,Pave,0,Reg,Lvl,AllPub,...,MnPrv,Shed,700,7,2006,WD,Normal,False,False,True
1458,2919,60,RL,74.0,9627,Pave,0,Reg,Lvl,AllPub,...,NaN,NaN,0,11,2006,WD,Normal,False,False,True